.venv
.ipynb_checkpoints
__pycache__
Galactic Plane Rotation Prac Manual 2024.pdf
Galactic Plane Rotation Prac PDF SLIDES 2024.pdf
RadioUniversePRO-user-manual.pdf
HI_profile.csv
HI_profile.txt
Reduction.ipynb

